.logo {
  display: "flex";
  /* color: rgb(58, 108, 180); */
  color: rgb(195, 196, 237);
  font-size: 50px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.label {
  color: white;
  font-size: 17px;
  font-family: "Times New Roman", Times, serif;
}
.input_box {
  background-color: rgb(214, 191, 244);
  border-color: white;
  border-style: solid;
  width: 500px;
  height: 45px;
  border-radius: 20px 20px 20px 20px;
  color: rgb(4, 11, 49);
  margin-bottom: 1em;
  padding: 0 16px;
}
#button:hover {
  background-color: #bbc0fd;
  color: black;
  border-color: rgb(224, 142, 120);
}
#button {
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
}
