* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.textArea {
  /* visibility: hidden; */
  text-align: center;
  align-items: center;
}
h1 {
  font-weight: 700;
  padding: 30px 0;
  margin: 0;
}

.main {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

input {
  width: 300px;
  height: 50px;
  border-radius: 10px;
  font-size: medium;
}

button,
a {
  margin-top: 10px;
  font-size: large;
  cursor: pointer;
  color: rgb(6, 108, 51);
}

.header {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 48px;
  font-weight: 700;
  margin: 0 0 20px;
}

#btnBack {
  background-color: rgb(6, 108, 51);
  display: flex;
  padding: 30px;
  margin: 3px 14px;
  position: absolute;
  left: 0;
}

#arrow {
  width: 50px;
}
